<section class="contato">
  <div class="contato__container">
    <h2 class="contato__title">Contato</h2>

    <p class="contato__info">
      Para dúvidas e maiores informações sobre o site, favor entrar em contato por WhatsApp com 
      <a class="contato__link" href="https://wa.me/5511965011003" target="_blank">Guilherme Bossa</a>.
    </p>

    <p class="contato__info">
      Para demais dúvidas, favor entrar em contato por WhatsApp com 
      <a class="contato__link contato__link-pol" href="https://wa.me/5556992281833" target="_blank">Gilmar Mileski</a>.
    </p>
  </div>
</section>
