.cracha-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 3rem;
}

.cracha {
  width: 600px;
  padding: 1.8rem;
  border-radius: 0.6rem;
  box-shadow: 0 8px 25px rgba(0,0,0,0.12);
  font-family: 'Arial', sans-serif;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
  transition: all 0.3s ease;
}

.cracha__header {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.2rem;
  padding: 0.8rem;
  border-radius: 0.4rem;
  color: #000;
}

.cracha.italia .cracha__header {
  background: linear-gradient(90deg, green, white, red);
}

.cracha.polonia .cracha__header {
  background: linear-gradient(90deg, white, red);
}

.cracha__body {
  display: flex;
  flex-direction: column;
  font-size: 1.05rem;
  line-height: 0.7;
}

.cracha__selector {
  display: flex;
  gap: 1.2rem;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1rem;
}

.cracha__selector button {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 0.4rem;
  background: #f5f5f5;
  transition: 0.2s;
}

.cracha__selector button:disabled {
  background: #ddd;
  cursor: default;
}

p {
    font-size: 1.5rem;
}

.cracha__body .label {
  font-weight: bold;
}

.cracha.italia .cracha__body .label {
  color: green;
}

.cracha.polonia .cracha__body .label {
  color: red;
}

.cracha__body p {
  color: #000;
}

hr {
    color: rgb(240, 239, 239);
}

.cracha-page {
  display: flex;
  justify-content: center;
  padding: 2rem;
  font-family: 'Arial', sans-serif;
}

.participants__container {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.participants__title {
  color: green;
}

.participants__search {
  width: 100%;
  max-width: 100%;
  padding: 0.4rem 0.6rem;
  border: 1px solid #006400;
  border-radius: 0.3rem;
  font-size: 0.95rem;
  box-sizing: border-box;
}

.participants__table-wrapper {
  width: 100%;
  max-width: 100%;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  background: #fff;
}

/* Lista */
.participants__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.participants__list li {
  display: flex;
  justify-content: space-between;
  padding: 0.7rem 1rem;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  transition: background 0.2s;
}

.participants__list li:hover {
  background-color: #f0f0f0;
}

.participants__list li.selected {
  background-color: #d1e7ff;
  font-weight: bold;
}

.cracha__footer {
  text-align: center;
  font-size: 1rem;
}

.cracha__footer_info {
  color: gray;
  font-weight: bold;
}

.cracha__footer-it {
  color: green;
}

.cracha__footer-pol {
  color: red;
}

.cracha__download-btn {
  display: flex;
  margin: 0px auto;
  margin-top: 5rem  ;
  background-color: #006400;
  color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.print-mode {
  box-shadow: none !important;
  border-radius: 0 !important;
}

@media (max-width: 768px) {
.cracha-page {
  margin-top: -3rem;
}

  .cracha {
    width: 90%;
  }

  .participants__container {
    width: 90%;
  }

   .cracha__header {
    padding: 0.4rem 0;
    font-size: 1rem;
    text-align: center;
  }

  .cracha__familia {
    font-size: 1rem;
    display: block;
    text-align: center;
  }

  .cracha__info span,
  .cracha__info p {
    font-size: 0.8rem;
    line-height: 0.5;
  }

  .cracha__footer {
    margin-top: 0.5rem;
    font-size: 0.8rem;
  }
}