<section class="home">
  <div class="home__container">
    <h2 class="home__welcome">
      Bem-vindo(a) ao site da festa das famílias<br>
      <span class="home__family home__family--bossa">Bossa</span>,
      <span class="home__family home__family--mileski">Mileski</span> e
      <span class="home__family home__family--ziemniczak">Ziemniczak</span>
    </h2>

    <p class="home__description">
      Aqui você encontrará todas as informações necessárias para esse encontro
      especial:
      <strong>programação</strong>, <strong>local</strong>,
      <strong>contato</strong>, <strong>crachá</strong> e muito mais. Tudo pensado com carinho para
      reunir e celebrar as nossas histórias.
    </p>
  </div>
</section>
